$primaryColor: #171717;
$secondaryColor: #b9dde7;
$tertiaryColor: #f6f6f6;
$primaryAccent: #f38d8d;
$secondaryAccent: #227284;
$tertiaryAccent: #68b0c1;

// General Styles
html {
    font-size:62.5%;
     scroll-behavior: smooth;
}

body {
    font-size:1.6rem;
    color: $primaryColor;
    font-family: 'Cabin', sans-serif;
}

p {
    line-height:32px;
}

.wrapper {
    max-width:1300px;
    margin:0 auto;
    width:80%;
}

li {
    list-style:none;
}

a {
    color: $primaryColor;
    text-decoration:none;
}

@mixin primaryFont ($size) {
    font-family: 'Oswald', sans-serif;
    color: $primaryColor;
    text-transform: uppercase;
    letter-spacing:1px;
    font-size: $size;
}

.header__links a {
    @include primaryFont (2rem);
    line-height:29px;
}

h1 {
    @include primaryFont (8rem);
    line-height:92px;
}

h4 {
    @include primaryFont (2.4rem);
}

.main-blog__button {
    @include primaryFont (1.6rem);
    padding: 10px 15px;
    background: $primaryAccent;
    border: 1px solid $primaryAccent;
}

a:hover {
    color: white;
}

#myBtn {
    @include primaryFont (1.2rem);
     background: $primaryAccent;
     border:1px solid $primaryAccent;
}


//MEDIA QUERIES
@media (max-width:768px) {
    .wrapper {
        width:95%;
    }
    
    h1 {
       @include primaryFont (5rem);
   }
}