header {
    background: $secondaryColor;
    position:relative;

    h1 {
        position:absolute;
        bottom:-60px;
        left:150px;
    }
}


.header {
    display:flex;
    flex-direction:row;
    justify-content: center;
    justify-content: space-between;
    margin:0;
    padding:1% 20%;

    &__links--title {
        font-size: 3rem;

    }
}

.blog-background {
    width:100%;

    &__img {
        width:100%;
        display:block;
    }
}

