header {
    background: $secondaryColor;
    position:relative;

    h1 {
        position:absolute;
        bottom:-80px;
        left:150px;
    }
}

.header {
    display:flex;
    flex-direction:row;
    justify-content: center;
    justify-content: space-between;
    margin:0;
    padding:2% 20%;

    &__links .title {
        font-size: 3rem;

    }
}

.blog-background {
    width:100%;

    &__img {
        width:100%;
        display:block;
    }
}

// MEDIA QUERIES
@media (max-width:767px) {
    header h1 {
        left:8%;
    }
     .header {
        margin:0;
        padding:0;
    }

    .header__links {
        margin:0 2%;
    }
}