main {
    background: $tertiaryColor;
    padding:5% 0;
}

.main {
    display:flex;
}

.aside {
    width:30%;

    &__section {
        padding:5%;
        margin-bottom:5%;
        background:white;

        ul {
            padding:0 0 0 5%;
            margin:0;

            li {
            list-style: disc;
        }
        }

        &--img {
            width:100%;
        }
    }
}

.main-blog {
    width:60%;

    &__section, &__section--flex {
        background:white;
        padding:2%;
        margin:0 0 5% 5%;

        &--flex {
            display:flex;

        }

        &--img {
            margin:5% 3% 0 0;
        }
    }

    &__form {
        margin-left:4%;
    }

    &__name, &__email, &__comment {
        border:1px solid white;
        padding:2% 4%;
    
    }
    &__name, &__email {
        width:calc(50% - 4%);
    }

    &__email {
        margin-left:7%;
    }

    &__comment {
        width:100%;
        height:200px;
        margin:3% 0;
    }

    &__button {
        width:100%;
    }

}

::placeholder { 
    color: $primaryColor;
    opacity: 1; 
}

:-ms-input-placeholder { 
    color: $primaryColor;
}

::-ms-input-placeholder { 
    color: $primaryColor;
}

.blue {
    border-bottom:4px solid $secondaryAccent;
}

//MEDIA QUERIES
@media (max-width:768px) {
    .aside {
        width:40%;
        height:850px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        margin-bottom:50%;
        // border:1px solid red;
    }


    .main-blog {
        width:60%;

        &__section, &__section--flex {
        background:white;
        padding:4%;
        }

        &__section--flex {
            width:100%;
        }

        &__name, &__email {
            width:100%;
            margin:1% 0;
            padding:2%;
        }
    }
}

#more {
    display:none;
}


@media (max-width:645px) {
    .main-blog__section--img {
        display:none;
    }

    .aside, .main-blog {
        width:50%;


    }
}
