header {
    background: $secondaryColor;

}

.header {
    display:flex;
    flex-direction:row;
    justify-content: center;
    justify-content: space-between;
    margin: 0;
    padding:2%  20%;


    &__links .title {
        font-size: 3rem;

    }
}

.logo-section {
    display:flex;
    padding:8% 0;


    &__title {
        margin:10% 0 12% 50%;
        position:relative;
        

        img {
            position:absolute;
            top:-60px;
            right:-60px;
        }
    }

    &__img {
        width:30%;
        margin-left:10%;
        z-index:1;
        position:absolute;

        img {
            box-shadow:20px 20px white;
            width:100%;
        }
    }
}

// MEDIA QUERIES
@media (min-width:969px) and (max-width:1200px) {
    .header__links {
        margin:0 5%;
    }

    .logo-section__img {
        bottom:120px;
    }
}

@media (max-width:970px) {
    .header__links {
        margin:0 3%;
    }

       .logo-section__title {
       margin:10% auto;
   }
   
    .logo-section__img {
        bottom:-100px;
        left:0px;
        bottom:-50px;
        width:25%;
    }
}

@media (max-width:767px) {
    
     .header {
        margin:0;
        padding:0;
    }

    .header__links {
        margin:0 2%;
    }

   
    .logo-section__img {
        bottom:0;
        left:0;
    }
}

@media (max-width:630px) {
    .logo-section__title {    
        margin-right: 20%;
    }
}
