main {
    background:$tertiaryColor;

    p {
        margin:3% 0;
        padding:0;
    }
}

.main {
    display:flex;
    padding:5% 0;
}

.contact {
    width:30%;
    background:white;
    height:10%;
    padding:2%;
    margin-top:0.5%;

    &__links {
        margin:0;
        padding:0;
        display:flex;
    }

    &__list {
        margin:2% 7% 2% 0 ;

        &--item {
            color:$secondaryAccent;
            font-size:2rem;
        }

        &--bold {
            font-weight:bold;
            margin: 5% 0;
        }
    }
}

.main-contact {
    width:80%;
    margin-left:5%;

    &__name, &__email {
        width:45%;
    }

    &__comment {
        width:92.5%;
        height:200px;
    }

    &__name, &__email, &__comment {
        background:white;
        border:1px solid white;
        margin:1%;
        padding:2%;
    }

    &__button {
        padding: 10px 15px;
        background: $primaryAccent;
        border:1px solid $primaryAccent;
        width:93%;
        margin-left:1%;
    }
    
}

::placeholder { 
    color: $primaryColor;
    opacity: 1; 
    
    
}

:-ms-input-placeholder { 
    color: $primaryColor;
    
}

::-ms-input-placeholder { 
    color: $primaryColor;
    
}

.footer-section {
    background: $primaryColor;

    &__text {
        color: $tertiaryColor;
        text-align:center;
        margin:0;
        padding: 0.5% 0;
    }

}