$primaryColor: #171717;
$secondaryColor: #b9dde7;
$tertiaryColor: #f6f6f6;
$primaryAccent: #f38d8d;
$secondaryAccent: #227284;
$tertiaryAccent: #68b0c1;

// General Styles
html {
    font-size:62.5%;
}

body {
    font-size:1.6rem;
    color: $primaryColor;
    font-family: 'Cabin', sans-serif;
}

.wrapper {
    max-width:1300px;
    margin:0 auto;
    width:80%;
}

li {
    list-style:none;
}

a {
    color: $primaryColor;
    text-decoration:none;
}

// Typography Styles
@mixin primaryFont ($size) {
    font-family: 'Oswald', sans-serif;
    color: $primaryColor;
    text-transform: uppercase;
    letter-spacing:1px;
    font-size: $size;
}

.header__links a {
    @include primaryFont (2rem);
    line-height:29px;
}

a:hover {
    color: white;
}

.main-contact__button {
    @include primaryFont (2rem);
    line-height:29px;
}


h1 {
    @include primaryFont (8rem);
    line-height:92px;
}

//MEDIA QUERIES
@media (max-width:800px) {
   h1 {
       @include primaryFont (5rem);
   }
}

@media (max-width:768px) {
    .wrapper {
        width:95%;
    }
}