article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-size: 1.6rem;
  color: #171717;
  font-family: 'Cabin', sans-serif; }

p {
  line-height: 32px; }

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 80%; }

li {
  list-style: none; }

a {
  color: #171717;
  text-decoration: none; }

.header__links a {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2rem;
  line-height: 29px; }

h1 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 8rem;
  line-height: 92px; }

h4 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.4rem; }

.main-blog__button {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.6rem;
  padding: 10px 15px;
  background: #f38d8d;
  border: 1px solid #f38d8d; }

a:hover {
  color: white; }

#myBtn {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
  background: #f38d8d;
  border: 1px solid #f38d8d; }

@media (max-width: 768px) {
  .wrapper {
    width: 95%; }
  h1 {
    font-family: 'Oswald', sans-serif;
    color: #171717;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 5rem; } }

header {
  background: #b9dde7;
  position: relative; }
  header h1 {
    position: absolute;
    bottom: -80px;
    left: 150px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 2% 20%; }
  .header__links .title {
    font-size: 3rem; }

.blog-background {
  width: 100%; }
  .blog-background__img {
    width: 100%;
    display: block; }

@media (max-width: 767px) {
  header h1 {
    left: 8%; }
  .header {
    margin: 0;
    padding: 0; }
  .header__links {
    margin: 0 2%; } }

main {
  background: #f6f6f6;
  padding: 5% 0; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.aside {
  width: 30%; }
  .aside__section {
    padding: 5%;
    margin-bottom: 5%;
    background: white; }
    .aside__section ul {
      padding: 0 0 0 5%;
      margin: 0; }
      .aside__section ul li {
        list-style: disc; }
    .aside__section--img {
      width: 100%; }

.main-blog {
  width: 60%; }
  .main-blog__section, .main-blog__section--flex {
    background: white;
    padding: 2%;
    margin: 0 0 5% 5%; }
    .main-blog__section--flex, .main-blog__section--flex--flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .main-blog__section--img, .main-blog__section--flex--img {
      margin: 5% 3% 0 0; }
  .main-blog__form {
    margin-left: 4%; }
  .main-blog__name, .main-blog__email, .main-blog__comment {
    border: 1px solid white;
    padding: 2% 4%; }
  .main-blog__name, .main-blog__email {
    width: calc(50% - 4%); }
  .main-blog__email {
    margin-left: 7%; }
  .main-blog__comment {
    width: 100%;
    height: 200px;
    margin: 3% 0; }
  .main-blog__button {
    width: 100%; }

::-webkit-input-placeholder {
  color: #171717;
  opacity: 1; }

:-ms-input-placeholder {
  color: #171717;
  opacity: 1; }

::-ms-input-placeholder {
  color: #171717;
  opacity: 1; }

::placeholder {
  color: #171717;
  opacity: 1; }

:-ms-input-placeholder {
  color: #171717; }

::-ms-input-placeholder {
  color: #171717; }

.blue {
  border-bottom: 4px solid #227284; }

#more {
  display: block; }

#myBtn {
  display: none; }

@media (max-width: 768px) {
  .aside {
    width: 40%;
    height: 850px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 50%; }
  .main-blog {
    width: 60%; }
    .main-blog__section, .main-blog__section--flex {
      background: white;
      padding: 4%; }
    .main-blog__section--flex {
      width: 100%; }
    .main-blog__name, .main-blog__email {
      width: 100%;
      margin: 1% 0;
      padding: 2%; } }

@media (max-width: 645px) {
  .main-blog__section--img {
    display: none; }
  .aside, .main-blog {
    width: 50%; } }

#more {
  display: none; }

#myBtn {
  display: block; }

.footer-section {
  background: #171717; }
  .footer-section__text {
    color: #f6f6f6;
    text-align: center;
    margin: 0;
    padding: 0; }
