article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  color: #171717;
  font-family: 'Cabin', sans-serif; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  width: 80%; }

li {
  list-style: none; }

a {
  color: #171717;
  text-decoration: none; }

.header__links a {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 29px; }

a:hover {
  color: white; }

.main-contact__button {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 29px; }

h1 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 92px; }

header {
  background: #b9dde7;
  position: relative; }
  header h1 {
    position: absolute;
    bottom: -60px;
    left: 150px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 30%;
  padding: 2% 0; }
  .header__links--title {
    font-size: 3rem; }

.blog-background {
  width: 100%; }
  .blog-background__img {
    width: 100%;
    display: block; }

main {
  background: #f6f6f6; }
  main p {
    margin: 3% 0;
    padding: 0; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0; }

.contact {
  width: 30%;
  background: white;
  height: 10%;
  padding: 2%;
  margin-top: 0.5%; }
  .contact__links {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contact__list {
    margin: 2% 7% 2% 0; }
    .contact__list--item {
      color: #227284;
      font-size: 2rem; }
    .contact__list--bold {
      font-weight: bold;
      margin: 5% 0; }

.main-contact {
  width: 80%;
  margin-left: 5%; }
  .main-contact__name, .main-contact__email {
    width: 45%; }
  .main-contact__comment {
    width: 92.5%;
    height: 200px; }
  .main-contact__name, .main-contact__email, .main-contact__comment {
    background: white;
    border: 1px solid white;
    margin: 1%;
    padding: 2%; }
  .main-contact__button {
    padding: 10px 15px;
    background: #f38d8d;
    border: 1px solid #f38d8d;
    width: 93%;
    margin-left: 1%; }

::-webkit-input-placeholder {
  color: #171717;
  opacity: 1; }

:-ms-input-placeholder {
  color: #171717;
  opacity: 1; }

::-ms-input-placeholder {
  color: #171717;
  opacity: 1; }

::placeholder {
  color: #171717;
  opacity: 1; }

:-ms-input-placeholder {
  color: #171717; }

::-ms-input-placeholder {
  color: #171717; }

.footer-section {
  background: #171717; }
  .footer-section__text {
    color: #f6f6f6;
    text-align: center;
    margin: 0;
    padding: 0.5% 0; }
